.landing-column h2{
    margin-top: 10px;
}
.accordion.row{
	border-top:1px solid #6D6D6D;
	padding-bottom:10px;
}
.accordion h2{
	float:left;
	margin: 10px 0 40px;
	width: 90%;
}
.accordion .glyphicon-menu-down{
	float:right;
	font-size:24px;
    margin:10px 0 40px;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #a7a7a7;
}
.accordion .glyphicon.open{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.image-cicrle-mask{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    overflow: hidden;
    margin: 20px auto;
}
.image-cicrle-mask img{
	height:90px;
}
@media (max-width: 992px) {
	.heart-infogfx:nth-child(odd) {
	    clear: both;
	}
}
.bottom-gradient{
	height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.75;
    filter: Alpha(opacity=75);
	background: -moz-linear-gradient(top,  rgba(51,51,51,0.01) 0%, rgba(51,51,51,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(51,51,51,0.01) 0%,rgba(51,51,51,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,51,51,0.01) 0%,rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}
