$orange: #f26522;
.AU-site,
.UK-site,
.US-site{
    display:none;
}
.wrap {
    padding-top: 75px;
    min-height: 100%;
    height: auto;
    margin: 0 auto -225px;
    padding-bottom: 225px;
}
.section {
    padding-top: 25px;
    padding-bottom: 25px;
}
.orange{
	background-color: $orange;
}
.orange-text{
    color: #f26522
}
.orange-text:hover{
    color:#707070;
}
.orange-transparent{
    background-color: $orange;
}
.orange h1,.orange h2,.orange h3,.orange h4,.orange h5,.orange h6,.orange p,.fw-image p,.fw-image a{
	color: #ffffff;
}
.fw-image a{
	font-weight: bold;
}
.white{
	background-color: #fff;
}
.blue{
	background-color: #333d4d;
}
.splash h1{
    color: #fff;
    text-shadow: 2px 2px 8px #000;
    padding: 17% 14% 10%;
}
.landing-phone{
	margin-top:-30%
}
.landing-columns .btn {
    margin-bottom: 20px;
}
.orange-box{
    background-color: $orange;
    padding: 25px 10px;
}
.fill-image{
    width:100%;
}
.splash{
    position: relative;
    text-align:center;
    height:400px;
    overflow:hidden;
}
.splash p{
    color:#fff;
    font-size:18px;
    font-weight:100;
}
.orange p a,
.splash p a {
    color: #fff;
}
.orange p a:hover,
.splash p a:hover {
    color: #707070;
}
.splash-image-picture {
    height: 100%;
    width: auto;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    left: 50%;
    top: 50%;
}
.splash-content {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.vert-align{
    margin-top: 5%
}
.hyphenate {
 -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
.text-block .row:nth-child(odd) .col-xs-6,
.text-block .col-sm-10{
    padding-left:0;
}
.text-block .row:nth-child(even) .col-xs-6,
.text-block .col-sm-10{
    padding-right:0;
}
.text-block col-xs-12{
    padding:0;
}
.jarallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sm-float-right{
    float:right;
}
.page-26{
    height: 400px !important;
}
.video-sizing{
    width:610px;
    height:350px;
    margin: auto;
    display: inherit;
}
.tagline br{
    display: none;
}
@media (min-width: 680px){
    .splash-image-picture {
        height: auto;
        width: 100%;
    }
}
@media (max-width: 768px){
    .xs-float-left{
        float:left;
    }
    .tagline br{
        display: block;
    }
    .splash h1{
        font-size:20px;
        margin-top: 265px;
        padding: 0 5px;
    }
    .xs-text-center{
        text-align:center
    }
    #nationModal h1{
        font-size: 20px;
    }
    #nationModal img{
        width: 60px;
    } 
    #nationModal h3{
        font-size: 16px;
    }   
}
@media (min-width: 992px){
.splash-content{
    padding-top: 35px;
    }
}
@media (min-width: 1100px){
    .splash-content{
        padding-top: 20px;
    }
    .splash {
        height: 600px;
        position: relative;
        overflow: hidden;
    }
    .front-page{
        height:600px;
    }
}
@media (min-width: 1200px){
    .splash-content{
        padding-top: 50px;
    }
    .video-sizing{
        width:1000px;
        height:570px;
    }
}